.table {
  border-collapse: separate;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
.table thead th {
  padding: 10px;
  white-space: nowrap;
}

.table th:not([align]) {
  text-align: center;
}
.table td:not([align]) {
  text-align: center;
}

.table tbody td {
  padding: 10px;
  white-space: nowrap;
}
.wrapper {
  position: relative;
}
.scroller {
  margin-left: 120px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 5px;
  border-left: solid 1px black;
}
.table .sticky {
  left: 0;
  position: absolute;
  top: auto;
  width: 120px;
}

.playerRow th {
  background-color: rgb(50, 182, 122);
  color: rgb(255, 255, 255) !important;
  border-bottom: solid 1px black;
  min-width: 120px;
}

/* #################################################### - OUT TABLE STYLING - #################################################### */

.tableOut {
  border-collapse: separate;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
.tableOut thead th {
  background-color: rgb(218, 28, 28);
  padding: 10px;
  white-space: nowrap;
}

.tableOut th:not([align]) {
  text-align: center;
}
.tableOut td:not([align]) {
  text-align: center;
}

.tableOut tbody td {
  padding: 10px;
  white-space: nowrap;
}
.wrapperOut {
  position: relative;
  margin-bottom: 70px;
}
.scrollerOut {
  margin-left: 120px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 5px;
  border-left: solid 1px black;
}

.tableOut .stickyOut {
  left: 0;
  position: absolute;
  top: auto;
  width: 120px;
}

.playerRowOut th {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255) !important;
  border-bottom: solid 2px black;
  min-width: 120px;
}

.pending {
  background-color: rgb(255, 255, 255);
}

.win {
  background-color: rgb(50, 182, 122);
}

.lose {
  background-color: rgb(218, 28, 28);
}

.lose {
  color: rgb(255, 255, 255) !important;
}
