#rulesContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rulesContent {
  height: 75vh;
  width: 85vw;
}

#rulesContent h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: rgb(50, 182, 122);
}

#rulesContent ul {
  font-weight: bolder;
  color: rgb(50, 182, 122);
  text-align: left;
  list-style: lower-roman;
  margin-left: 20px;
}

#backBtn {
  border-radius: 16px;
  border: solid 1px rgb(50, 182, 122);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: block;
}

#backBtn h5 {
  color: rgb(50, 182, 122);
  font-weight: bold;
}
