#rulesContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rulesContent {
  height: 75vh;
  width: 85vw;
}

#rulesContent h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: rgb(50, 182, 122);
}

#rulesContent ol {
  font-weight: bolder;
  color: rgb(50, 182, 122);
  text-align: left;
}
