#TopNav {
  background-color: rgb(50, 182, 122);
}

#logo {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#menuitem {
  font-weight: bold;
  color: rgb(50, 182, 122);
  border-bottom: solid 1px rgb(50, 182, 122);
}
